* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



h1 {
    text-align: center;
    margin: 50px 0 30px 0;
}

.case {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: rgb(49, 31, 31);
    padding: 10px;
    margin: auto;
}

.screen {
    height: 60px;
    background: rgb(170, 206, 170);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.first-section {
    display: flex;
    width: 100%;
    height: 60px;
}

.first-section > .key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: grey;
    border: 1px solid black;
    text-align: center;

}

.second-separator{
    display: flex;
}

.second-section{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.set1{
    display: flex;
    width: 100%;
    height: 60px;
}

.set2{
    display: flex;
    width: 100%;
    height: 60px;
}

.set3{
    display: flex;
    width: 100%;
    height: 60px;
}

.set4{
    display: flex;
    width: 100%;
    height: 60px;
}

.third-section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: grey;
    border: 1px solid black;
    text-align: center;
}

.zero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: grey;
    border: 1px solid black;
    text-align: center;
    flex: 2;
}

.point {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: grey;
    border: 1px solid black;
    text-align: center;
    flex: 1;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: grey;
    border: 1px solid black;
    text-align: center;
}

.equal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: grey;
    border: 1px solid black;
    text-align: center;
}